/* Css Comment, Pea Green RGB = (133,168,51) */
h1 {
    color: rgb(133,168,51);
    text-align:center;
}

h4 {
    color: rgb(133,168,51);
    text-align:center;
}

p {
    color: white;
    text-align:center;
}


body {
    background-color: rgb(24,21,24);
    font-family: Arial, sans-serif;
    margin-right: 20px;
}

a {
    color: gray;
}

a:hover {
    color: red;
    text-decoration: underline;
}

/*visited Link*/
a:visited {
    color: rgb(133,168,51);
}

/*Class used by div tags to center navigation links*/
.nav-links {
    text-align: center;
}

/*Class used by p tags for special text*/
.special-text {
    font-style: italic;
}

/*ID used by the h1 tag on my homepage*/
#home-title {
    letter-spacing: 3px;
}

/*ID used by the h4 tag on the What Is The Alien? page*/
*alien-heading {
    text-decoration: underline;
}